<div class="row" style="background-image: url(assets/images/library.jpg);">
  <div class="jumbotron text-center" style="margin-bottom: 0; margin-left: 28.75%; background: none;">
      <h1 style="color: white; margin-top: 27px;">
          Book Search Web Application
      </h1>
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="active">
                    <a class="nav-link" routerLink="" style="padding: 10px 15px 10px"> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main" style="padding: 10px 15px 10px">My Main Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/library" style="padding: 10px 15px 10px">My Library</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/goals" style="padding: 10px 15px 10px">My Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/account" style="padding: 10px 15px 10px">Account Information</a>
          </li>
            </ul>
        </div>
    </nav>
