h1{
  color: white;
  margin-top: 27px;
}

.jumbotron{
  margin-bottom: 0;
  background-image: url('../../assets/images/library.jpg');
  background-color: black;
  /* // */
}

.nav-link{
  padding: 10px 15px 10px;
}
