h1{
  text-align: center;
  text-decoration: underline;
}

h2{
  text-align: center;
}

th{
  text-align: center;
}

a{
  text-decoration-color: blue;
}

.numData{
  text-align: center;
}

.base{
  margin-top: 30px;
  margin-bottom: 50px;
}

.btn-primary{
  margin-top: 15px;
}

#updateModal{
  margin-top: 100px;
}
