h1{
  text-align: center;
  text-decoration: underline;
}

h2{
  text-align: center;
}

th{
  text-align: center;
}

.numData{
  text-align: center;
}

.base{
  margin-top: 30px;
  margin-bottom: 50px;
}
