<div class="row" style="margin-top: 30px">

  <div class="col-sm-3" style="margin-left: 30px">
    <form class="form-group">
      <p>
        <label>Search Book Category</label>
        <input class="form-control" type="text"></p>
      <button type="submit" class="btn btn-info">Submit</button>
      <p>
      <p></p>
      <label>Search ISBN</label>
      <input class="form-control" type="text">
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>

  <div class="col-sm-4" style="margin-left: 30px">
    <h2>
      Books Read
    </h2>
    <table class="table table-hover">
      <tr class="success">
        <td class="font-weight-bold">Title</td>
        <td class="font-weight-bold">Author</td>
        <td class="font-weight-bold">Date Completed</td>
      </tr>
      <tr class="success">
        <td>Huckleberry Finn</td>
        <td>Mark Twain</td>
        <td>9/24/2020</td>
      </tr>
      <tr class="success">
        <td>The Hitchhiker's Guide to the Galaxy</td>
        <td>Douglas Adams</td>
        <td>6/15/2019</td>
      </tr>
    </table>

    <span class="text-center"><h3>Percentage of Goals Completed</h3></span>
    <div class="progress" ?>
      <div class="progress-bar" style="width:70%">70%</div>
    </div>
    <p></p>
    <h3 class="bg-success text-center">Record Completed Book</h3>
    <form class="form-group">
      <p>
        <label>Book Title</label>
        <input class="form-control" type="text"></p>
      <p>
      <p></p>
      <label>Author</label>
      <input class="form-control" type="text">
      <label>Date Completed</label>
      <input class="form-control" type="date">
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>

  <div class="col-sm-3">
    <div class="row" style="margin-left: 0px">
      <a href="personalLibrary.html" class="btn btn-outline-dark" role="button" style="margin: 15px">My Library</a>
      <a href="goals.html" class="btn btn-outline-dark" role="button" style="margin: 15px">Set Goals</a>
    </div>

    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="book1.jpg" class="img-fluid" alt="Book 1">
        </div>
        <div class="carousel-item">
          <img src="book2.jpg" class="img-fluid" alt="Book 2">
        </div>
        <div class="carousel-item">
          <img src="book3.jpg" class="img-fluid" alt="Book 3">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>

  </div>
</div>
