<div class="row" style="margin-top: 30px">

  <div class="col-sm-3" style="margin-left: 30px">
    <form #searchForm="ngForm" (ngSubmit)="onSubmit()"class="form-group">
      <p>
        <label>Search Book Category</label>
        <input class="form-control" [(ngModel)]='queryField' name = "queryField"type="text"></p>
      <button type="submit" class="btn btn-info">Submit</button>
      <p>
      <p></p>
    </form>
   <form #searchForm="ngForm" (ngSubmit)="onSubmitISBN()"class="form-group">
    <label>Search ISBN</label>
    <input class="form-control" [(ngModel)]='queryField2' name = "queryField2" type="text">
    <p></p>
    <button type="submit" class="btn btn-info">Submit</button>
   </form>
  </div>


  <div class="col-sm-4" style="margin-left: 30px">
    <h2>Search Results</h2>
    <div *ngFor="let item of items">
      <h4>Book Title: {{item?.volumeInfo.title}}</h4>
      <p>Author: {{item?.volumeInfo.authors}}</p>
   </div>
 </div>
  <div class="col-sm-3">
    <div class="row" style="margin-left: 0px">
      <a href="personalLibrary.html" class="btn btn-outline-dark" role="button" style="margin: 15px">My Library</a>
      <a href="goals.html" class="btn btn-outline-dark" role="button" style="margin: 15px">Set Goals</a>
    </div>

    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/book1.jpg" class="img-fluid" alt="Book 1">
        </div>
        <div class="carousel-item">
          <img src="assets/images/book2.jpg" class="img-fluid" alt="Book 2">
        </div>
        <div class="carousel-item">
          <img src="assets/images/book3.jpg" class="img-fluid" alt="Book 3">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>

  </div>
</div>
