<div class="container" style="margin-top: 30px;">
  <h2 class="text-center">
      Set New Goal
  </h2>
  <form class="form-group" action="/action_page.php" class="was-validated">
      <p>
          <label>Set Desired Date to Complete Reading Goal</label>
          <input class="form-control" type="date"></p>
      <p>
          <label>How many books do you plan to read?</label>
          <input class="form-control" type="text"></p>
      <button type="submit" class="btn btn-info">Set Goal</button>
  </form>
</div>

<div class="container" style="margin-top: 30px;">
  <h2 class="text-center">
      Current Goal
  </h2>
  <form class="form-group" action="/action_page.php" class="was-validated">
      <p> Read 20 books starting 01/01/2020 and ending 12/31/2020
          </p>
      <div class="progress-bar" style="width:70%">70%</div>
  </form>
</div>

<div class="container" style="margin-top: 30px;">
  <h2 class="text-center">
      Past Goal
  </h2>
  <form class="form-group" action="/action_page.php" class="was-validated">
      <p> Read 12 books starting 01/01/2019 and ending 12/31/2019
          </p>
      <div class="progress-bar" style="width:100%">100%</div>
  </form>
</div>
