<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Success!</h4>
        <img src="assets/images/success-green-check-mark.png" class="img-fluid" alt="success-green-check-mark">
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 30px">
<div class="col-sm-4" style="margin-left: 30px">
<div class="container" style="margin-top: 30px;">
  <h2 class="text-center">
      Set New Goal
  </h2>
  <form #searchForm="ngForm" (ngSubmit)="onSubmit()" class="form-group">

    <p>
      <label>Set desired start date for new reading goal.</label>
      <input class="form-control" [(ngModel)]='queryField' name="queryField" type="date"></p>

    <p>
          <label>Set desired completion date for new reading goal</label>
          <input class="form-control" [(ngModel)]='queryField2' name="queryField2" type="date"></p>

          <p><label>How many books do you plan to read? &nbsp; </label>
          <input class="form-control" [(ngModel)]='queryField3' name="queryField3" type="number" min="1" max="52"></p>

      <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#modalSubscriptionForm">Set Goal</button>
  </form>
</div>
</div>

<div class="col-sm-5" style="margin-left: 150px">
<div class="container" style="margin-top: 30px;">
  <h2 class="text-center">
      Goals
  </h2>
<table class="table table-hover">
    <tr class="success">
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount of Books</th>
    </tr>
    <tr class="success">
      <td>{{ this.queryField}}</td>
      <td>{{ this.queryField2 }}</td>
      <td>{{ this.queryField3 }}</td>
    </tr>
  </table>
</div>
</div>
</div>
<!--test 2-->
