<div class="container">
  <div *ngIf="auth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }} !</h1>
    <button (click)="logout()">Logout</button>
  </div>

  <ng-template #showLogin>
    <div>
      <h2>Login</h2>
      <form>
        <input [(ngModel)]="user.userName" type="text" name="userName" class="form-control" id="userName"
          placeholder="Enter username">

        <input [(ngModel)]="user.password" type="text" name="password" class="form-control" id="password"
          placeholder="Enter Password">
      </form>
      <div class="row">
        <button class="btn btn-info" (click)="loginAttempt()">Login</button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
          Register
        </button>
      </div>
      <div class="row" style="margin-top: 10px">
        <button class="btn btn-info" (click)="login()">Login with Google</button>
      </div>
    </div>
  </ng-template>
</div>



<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Registration Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form #searchForm="ngForm" (ngSubmit)="onRegisterSubmit()" class="form-group">
          <label>Full Name</label>
          <input class="form-control rgst" [(ngModel)]='newUser.fullName' name="fullName" type="text" style="margin-top: 0px;" placeholder="Enter full name">
          <label>Email</label>
          <input class="form-control rgst" [(ngModel)]='newUser.email' name="email" type="text" placeholder="Enter email">
          <label>Password</label>
          <input class="form-control rgst" [(ngModel)]='newUser.regPassword' name="registerPassword" type="text" placeholder="Enter password">
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
