<div class="row">
  <div class="col-sm-4">
      <h2>
          About Us
      </h2>
      <table class="table table-hover">
          <tr class="success">
              <td>Jeffrey</td>
              <td>Veit</td>
              <td>jveit1186@gmail.com</td>
          </tr>
          <tr class="danger">
              <td>Steven</td>
              <td>Meier</td>
              <td>smeier5@depaul.edu</td>
          </tr>
          <tr class="success">
              <td>Ximan</td>
              <td>Liu</td>
              <td>sydneyximanliu@gmail.com</td>
          </tr>
          <tr class="danger">
              <td>Brian</td>
              <td>Schultz</td>
              <td>bschul12@depaul.edu</td>
          </tr>
      </table>
  </div>
  <div class="col-sm-3">
      <img src="assets/images/open_book.jpg" class="img-thumbnail" alt="Ron Swanson Meme">
  </div>
  <div class="col-sm-4">
    <app-login-form></app-login-form>
  </div>
</div>
