<div class="row">
  <div class="col-sm-4 grp">
    <div *ngIf="auth.user | async as user; else showLogin">
      <h2>Account Information</h2>
      <ul class="list-group">
          <li class="list-group-item"><span class="font-weight-bold">Username: </span> {{ user.displayName }}</li>
          <li class="list-group-item"><span class="font-weight-bold">Phone Number: </span> {{ user.phoneNumber }} </li>
          <li class="list-group-item"><span class="font-weight-bold">Email: </span> {{user.email }} </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="font-weight-bold">Goals Completed: </span>
              <span class="badge badge-primary badge-pill">0</span>
          </li>
      </ul>

      <div class="container grp">
        <div class="row">
              <button type="button" class="btn btn-info">Update</button>
              <span style="display:inline-block; width: 10;"></span>
              <button type="button" class="btn btn-info" (click)="logout()">Logout</button>
        </div>
        </div>


      </div>
    </div>

    <ng-template #showLogin>
      <div>
        <h2>Login</h2>
        <form>
          <input [(ngModel)]="user.userName" type="text" name="userName" class="form-control" id="userName"
            placeholder="Enter Email">

          <input [(ngModel)]="user.password" type="text" name="password" class="form-control" id="password"
            placeholder="Enter Password">
        </form>
        <div class="row">
          <button class="btn btn-info" (click)="loginAttempt()">Login</button>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            Register
          </button>
        </div>
        <div class="row">
          <button class="btn btn-info" (click)="login()">Login with Google</button>
        </div>
      </div>
    </ng-template>

  </div>
  <p>&nbsp;</p>
