<div class="row">

  <div class="col-sm-5 grp">
    <form #searchForm="ngForm" (ngSubmit)="onSubmit()" class="form-group">
      <label>Search by title</label>
      <input class="form-control" [(ngModel)]='queryField' name="queryField" type="text" placeholder="Enter title">
      <button type="submit" class="btn btn-info" >Submit</button>
    </form>

    <form #searchForm="ngForm" (ngSubmit)="onSubmitSubject()" class="form-group">
      <label>Search by subject</label>
      <input class="form-control" [(ngModel)]='queryField3' name="queryField3" type="text" placeholder="Enter subject">
      <button type="submit" class="btn btn-info">Submit</button>
    </form>

    <form #searchForm="ngForm" (ngSubmit)="onSubmitISBN()" class="form-group">
      <label>Search by ISBN</label>
      <input class="form-control" [(ngModel)]='queryField2' name="queryField2" type="text" placeholder="Enter ISBN">
      <button type="submit" class="btn btn-info">Submit</button>
    </form>

    <div class="card text-center" *ngIf="selectedItem">
      <div class="card-header">
        <h4>{{selectedItem.volumeInfo.title + ' by ' + selectedItem.volumeInfo.authors}}</h4>
      </div>
      <div class="card-block grp2">
        <p class="font-weight-bold num">Summary:<br>
          <span class="font-weight-normal" *ngIf="selectedItem.searchInfo">{{selectedItem.searchInfo.textSnippet}}</span>
          <span class="font-weight-normal" *ngIf="!selectedItem.searchInfo">N/A</span>
        </p>
        <p class="font-weight-bold num">Genre:
          <span class="font-weight-normal">{{selectedItem.volumeInfo.categories}}</span>
        </p>
        <p class="font-weight-bold num">Page count:
          <span class="font-weight-normal">{{selectedItem.volumeInfo.pageCount}}</span>
        </p>
        <p class="font-weight-bold num">Published:
          <span class="font-weight-normal">{{selectedItem.volumeInfo.publishedDate}}</span>
        </p>
        <div class="text-left">
          <button *ngIf="auth.isAuthenticated" class="btn btn-primary" id="libBtn" (click)="addLibrary(selectedItem)"> Add to library</button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-4 grp">
    <h2>Search Results</h2>
    <div *ngFor="let item of items">
      <h4>Title: {{item?.volumeInfo.title}}</h4>
      <p>Author: {{item?.volumeInfo.authors}}</p>
      <p>
        <button class="btn btn-primary" (click)="selectItem(item)"> Show Details</button>
      </p>
    </div>
  </div>
</div>
